/* Write your CSS code here */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  background-size: cover;
}

.heading {
  font-size: 40px;
  font-weight: bold;
  color: #6d396b;
}

.image {
  height: 60px;
  width: 60px;
}
